---
// https://docs.astro.build/it/guides/cms/wordpress/
import PostPreview from '../../layouts/PostPreview.astro';
import FormattedDate from '../../components/FormattedDate.astro';


let res = await fetch("https://developer.wordpress.org/news/wp-json/wp/v2/posts?per_page=21&_fields=id,slug,date,title,excerpt,content,link,_links&_embed=author,wp:featuredmedia,wp:term");
let posts = await res.json();

/*
const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
*/
---

<PostPreview tytle="Blog">
	<section>
		<ul>
			{
				posts.map((post) => (
					<li>
						<a href={`/blog/${post.slug}/`}>
							<!-- See https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/undefined#typeof_operator_and_undefined -->
							<img src={typeof post._embedded['wp:featuredmedia'] !== "undefined" ? post._embedded['wp:featuredmedia']['0'].media_details.sizes.large.source_url : 'https://images.pexels.com/photos/270404/pexels-photo-270404.jpeg'} alt="" />
							<h4 class="title">{post.title.rendered}</h4>
							<FormattedDate date={post.date} />
						</a>
					</li>
				))
			}
		</ul>
	</section>
</PostPreview>